body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('utilities/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-me {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  font-size: 3em;
  transition: font-size 0.3s ease-in-out;
  pointer-events: none;
}

.monstar-container {
  position: relative;
  display: inline-block;
}

.monstar {
  position: relative;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
  animation: float 3s ease-in-out infinite;
  pointer-events: none;
}

.thought-bubble {
  position: absolute;
  top: calc(35% - 15px);
  left: calc(48% + 100px);
  animation: bounce 1s infinite;
  pointer-events: none;
}

/* Styles for screens smaller than 768px */


@media (max-width: 768px) {
  .about-me {
    font-size: 2em;
  }

  .thought-bubble {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }

  .monstar {
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .about-me {
    font-size: 1.5em;
  }

  .thought-bubble {
    bottom: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
  }

}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

